@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/solid.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0575e6),
    to(#021b79)
  );
  background: linear-gradient(to right, #0575e6, #021b79);
  color: #fff;
  font-family: "Noto Sans HK", sans-serif;
}

a {
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fas {
  font-size: 1.3rem;
  color: #fff;
}

.ui-toolbar {
  padding: 1rem;
  text-align: right;
}

.ui-toolbar a {
  padding: 10px;
  color: #fff;
  -webkit-transition: background linear 0.2s;
  transition: background linear 0.2s;
}

.ui-toolbar a:hover {
  background: rgba(0, 0, 0, 0.25);
}

.ui-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 85vh;
}

.ui-searchbar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.ui-searchbar h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 4px;
}

.ui-searchbar input {
  width: 70vw;
  padding: 1rem 1rem;
  border-radius: 30px;
  border: none;
  outline: 0;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: bold;
  color:grey;
}

.ui-topsites {
  text-align: center;
}

.ui-topsites-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  -webkit-transition: background ease-in 0.3s;
  transition: background ease-in 0.3s;
}

.ui-topsites-item:hover {
  background: rgba(0, 0, 0, 0.15);
}

.ui-topsites-item:hover > .ui-topsite-icon {
  background: #09f;
}

.ui-topsites-item-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.ui-topsites-item-edit:hover {
  opacity: 1;
}

.ui-topsite-icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 0.7rem;
  width: 3rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  pointer-events: none;
  color: #fff;
  -webkit-transition: background ease-in 0.1s;
  transition: background ease-in 0.1s;
}

.ui-topsites-item span {
  color: #fff;
  letter-spacing: 2px;
}

.ui-edit {
  width: 100%;
  padding-right: 2rem;
  text-align: right;
}

#btn-edit {
  cursor: pointer;  
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.generated {
  text-decoration: none;
  color: white;
}

/* BUTTON 6 */
.btn6,
.btn6:link,
.btn6:visited {
  padding: 13px 0;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn6:hover,
.btn6:link:hover,
.btn6:visited:hover {
  background: #333;
  border: 1px solid #333;
  color: #fefefe;
  border-radius: 30px;
}


.flex {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #f4f7f7;
  font-size: 1rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  opacity: 0.85;
}

/* THE LIST ITSELF */
.list {
  font-size: 1.15rem;
}
.list__item {
  position: relative;
  padding: 1.5em;
  line-height: 1;
  perspective: 150px;
  background-color: #f4f7f7;
  white-space: nowrap;
}
.list__item::before, .list__item::after {
  position: absolute;
  top: 0;
  display: block;
  height: 0;
  width: 0;
  content: "";
  border: 0 solid transparent;
}
.list__item::after {
  right: 0;
}
.list__item::before {
  left: 0;
}
.list__item:nth-child(even) {
  color: #021b79;
  background-image: linear-gradient(to bottom, rgba(10, 14, 250, 0) 0%, transparent 100%);
}
.list__item:nth-child(even)::before, .list__item:nth-child(even)::after {
  border-top-color: #1f4e5f;
  border-top-width: 4em;
}
.list__item:nth-child(even)::before {
  border-right-width: 5px;
}
.list__item:nth-child(even)::after {
  border-left-width: 5px;
}
.list__item:nth-child(odd) {
  color: #0575e6;
  background-image: linear-gradient(to bottom, rgba(77, 4, 245, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.list__item:nth-child(odd)::before, .list__item:nth-child(odd)::after {
  border-bottom-color: #1f4e5f;
  border-bottom-width: 4em;
}
.list__item:nth-child(odd)::before {
  border-right-width: 5px;
}
.list__item:nth-child(odd)::after {
  border-left-width: 5px;
}
.list__item-text {
  display: inline-block;
}
.list__item:nth-child(odd) .list__item-text {
  transform: rotateX(-7deg);
}
.list__item:nth-child(even) .list__item-text {
  transform: rotateX(7deg);
}
.a .span {display: none; position: absolute; color: #fff; background: #000; padding: 2.5px; font-size: .7rem;}
.a {position: relative;}
.a:hover .span {display: block; text-align: center;}


.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

h2 {
  color: #777;
}

h4 {
  color: #999;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}


.spinner {
  width: 10em;
  height: 10em;
  border-top: 1em solid #d5fff7;
  border-right: 1em solid transparent;
  animation: spinner 0.4s linear infinite;
  border-radius: 50%;
  margin: auto;
}
.head {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: 8.5em;
  margin-top: 0.5em;
  background-color: #d5fff7;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
